<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matbadev.dabirva.example">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity-alias
            android:name="com.matbadev.dabirva.example.MainActivity"
            android:targetActivity=".ui.launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.launch.LaunchActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.simple.SimpleListActivity"
            android:label="@string/simple_title" />

        <activity
            android:name=".ui.stickyheader.horizontal.HorizontalStickyHeaderListActivity"
            android:label="@string/stickyheader_horizontal_title" />

        <activity
            android:name=".ui.stickyheader.vertical.VerticalStickyHeaderListActivity"
            android:label="@string/stickyheader_vertical_title" />

    </application>

</manifest>
